#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.activeLink {
  color: darkred;
  font-weight: bold;
  text-decoration: underline;
}

.hiddenRavioli {
  display: none;
}